/* Set the size of the div element that contains the map */
#map {
    height: 500px;
    /* The height is 400 pixels */
    width: 100%;
    margin-top: 50px;
    /* The width is the width of the web page */
  }
.input{
    text-align: center;
    
}
input[type="text"], input[type="number"]{
    height:50px;
    width:600px;
    padding:10px;
  /*  font-weight:bold;*/
    font-size:20px;
    border-radius:2px;
}
input[type="submit"]{
    width:180px;
    background-color: #fff;
}


.button{
    width:180px;
    display: inline-block;
    margin: 20px;
    padding: 30px 0px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    position: relative;
}

#skinType, #convertToF, #convertToC{
    margin: 10px;
    align-items:center;
    border: 5px solid #049161;
    font-size: 20px;
    width:172px;
    padding: 16px 0px;
    color: #049161;
    border-radius: 10px;
}
#skinType:hover, #convertToF:hover, #convertToC:hover{
    background-color: #049161;
    color:#fff;
    border-radius:10px;
    transform: translateY(-6px);
    will-change: transform;
    transition: transform 250ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .conversionBox{
alignment:center;
    position: relative;
    display: inline-block;
    padding: 16px 0px;
} */

.locationName{
    text-align: center;
    font-size: 50px;
}
.temperature{
    text-align: center;
    font-size: 40px;
}
  